html, body
{
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #000;
  }

body {
    font-family: helvetica, arial, sans-serif;
    color: #fff;
  }

div {
    position:relative;
    height: 100%;
    width:100%;
  }